<section class="section">
  <h2 class="is-size-4"><%= @title %></h2>
  <%= for package <- @packages do %>
    <%= render LocalHexWeb.PackageView, "_package.html",
      package: package,
      conn: @conn,
      repo: @repo
    %>
  <% end %>
</section>
