<section class="section">
  <h2 class="is-size-4"><%= @title %></h2>
  <%= for package <- @packages do %>
    <._package
      package={package}
      repo={@repo}
      conn={@conn}
    />
  <% end %>
</section>
