<section class="section">
  <._package
    package={@package}
    repo={@repo}
    conn={@conn}
  />
</section>

<section class="section has-text-right">
  <%= link "Back to list", to: "/" %>
</section>
